@import url("./base.css");

.test-page {
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 30px;
}

.test-page h1 {
    color: var(--maroon);
    margin-bottom: 10px;
}

.test-page p {
    margin: 5px 0;
}
